<?xml version="1.0" encoding="UTF-8" ?>

<!--
  Copyright  2014-2016 whatlookingfor@gmail.com(Jonathan)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<configuration>

    <!--<property name ="fileBase" value ="${catalina.home}/logs"/>-->
    <property name ="fileBase" value ="logs"/>


    <!-- 控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${fileBase}/spring-boot-samples/bootSamples.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${fileBase}/spring-boot-samples/bootSamples-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>



    <!-- 出错日志 appender  -->
    <appender name="errorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <!-- log.dir 在maven profile里配置 -->
            <fileNamePattern>${fileBase}/spring-boot-samples/bootSamples-error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>



    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>

    <logger name="org.springframework.web" level="DEBUG"/>

    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="debug">
    </logger>

    <logger name="dao" level="DEBUG">
        <!--<appender-ref ref="rollingFile" />-->
        <!--<appender-ref ref="console" />-->
    </logger>


    <logger name="com.whatlookingfor.sample" level="debug">
        <!--<appender-ref ref="rollingFile" />-->
        <!--<appender-ref ref="console" />-->
    </logger>

    <!--&lt;!&ndash;错误日志&ndash;&gt;-->
    <!--<logger name="com.whatlookingfor.sample" level="ERROR">-->
        <!--<appender-ref ref="errorRollingFile"/>-->
    <!--</logger>-->


</configuration>



